.gallery {
   h2 {
      font-family: 'Blender Pro Heavy';
      font-size: $font35;
      color: $color2;
      padding: 0 0 $padding30 $padding40;
   }
   img {
      width: 100%;
      max-width: 1220px;
   }
   .bx-controls {
      display: block;
      position: absolute;
      top: -65px;
      right: 35%;
      .bx-pager {
         .bx-pager-item {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: $padding10;
            .bx-pager-link {
               position: relative;
               display: block;
               background-color: $white;
               width: 100%;
               height: 100%;
               font-size: 0;
               border: 6px solid $color19;
               @include border-radius(50%);
               @include transitionStandard();
               &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 3px;
                  left: 3px;
                  width: 7px;
                  height: 7px;
                  background-color: $color4;
                  @include opacity(0);
                  @include border-radius(50%);
                  @include transitionStandard();
               }
               &.active, &:hover {
                  &:after {
                     @include opacity(1);
                  }
               }
            }
         }
      }
      .bx-controls-direction {
         display: none;
      }
   }
}