.intro {
   .content {
      bottom: 20%;
      h1 {
         font-size: 42px;
      }
   }
   .scrollDown {
      bottom: 5%;
   }
   .videoControl {
      position: absolute;
      right: 3%;
      bottom: 4%;
   }
}