.button {
   display: inline-block;
   font-family: 'Ubuntu Medium';
   font-size: $font14;
   border: 1px solid $color3;
   line-height: 44px;
   padding: 0 60px;
   text-transform: uppercase;
   &.buttonWhite {
      color: $white;
      border-color: $white;
      position: relative;
      top: 0px;
      z-index: 1;
      @include transitionUnderline();
      &:before {
         content: '';
         display: block;
         width: 100%;
         position: absolute;
         left: 0px;
         z-index: -1;
         background-color: $white;
         top: 0%;
         bottom: auto;
         height: 0%;
         @include transitionUnderline();
      }
      &:hover {
         color: $color18;
         &:before {
            bottom: 0%;
            top: auto;
            height: 100%;
         }
      }
   }
   &.buttonViolet {
      color: $color2;
      border-color: $color13;
      background-color: $white;
      position: relative;
      top: 0px;
      z-index: 1;
      @include transitionUnderline();
      &:before {
         content: '';
         display: block;
         width: 100%;
         position: absolute;
         left: 0px;
         z-index: -1;
         background-color: $color13;
         top: 0%;
         bottom: auto;
         height: 0%;
         @include transitionUnderline();
      }
      &:hover {
         &:before {
            bottom: 0%;
            top: auto;
            height: 100%;
         }
      }
   }
}