@font-face {
   font-family: 'Lato';
   src: url('../fonts/lato-regular-webfont.eot');
   src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/lato-regular-webfont.woff2') format('woff2'),
      url('../fonts/lato-regular-webfont.woff') format('woff'),
      url('../fonts/lato-regular-webfont.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url('../fonts/lato-italic-webfont.eot');
   src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/lato-italic-webfont.woff2') format('woff2'),
      url('../fonts/lato-italic-webfont.woff') format('woff'),
      url('../fonts/lato-italic-webfont.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Lato';
   src: url('../fonts/lato-bold-webfont.eot');
   src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/lato-bold-webfont.woff2') format('woff2'),
      url('../fonts/lato-bold-webfont.woff') format('woff'),
      url('../fonts/lato-bold-webfont.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Blender Pro Heavy';
   src: url('../fonts/blenderpro-heavy-webfont.eot');
   src: url('../fonts/blenderpro-heavy-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/blenderpro-heavy-webfont.woff2') format('woff2'),
      url('../fonts/blenderpro-heavy-webfont.woff') format('woff'),
      url('../fonts/blenderpro-heavy-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Blender Pro Bold';
   src: url('../fonts/blenderpro-bold-webfont.eot');
   src: url('../fonts/blenderpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/blenderpro-bold-webfont.woff2') format('woff2'),
      url('../fonts/blenderpro-bold-webfont.woff') format('woff'),
      url('../fonts/blenderpro-bold-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Blender Pro Book';
   src: url('../fonts/blenderpro-book-webfont.eot');
   src: url('../fonts/blenderpro-book-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/blenderpro-book-webfont.woff2') format('woff2'),
      url('../fonts/blenderpro-book-webfont.woff') format('woff'),
      url('../fonts/blenderpro-book-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu Medium';
   src: url('../fonts/ubuntu-m-webfont.eot');
   src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
      url('../fonts/ubuntu-m-webfont.woff') format('woff'),
      url('../fonts/ubuntu-m-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Intro Black';
   src: url('../fonts/intro_black-webfont.eot');
   src: url('../fonts/intro_black-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/intro_black-webfont.woff2') format('woff2'),
      url('../fonts/intro_black-webfont.woff') format('woff'),
      url('../fonts/intro_black-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Iowan Old Style Roman';
   src: url('../fonts/IowanOldStyle-Roman-webfont.eot');
   src: url('../fonts/IowanOldStyle-Roman-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IowanOldStyle-Roman-webfont.woff2') format('woff2'),
      url('../fonts/IowanOldStyle-Roman-webfont.woff') format('woff'),
      url('../fonts/IowanOldStyle-Roman-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}