header {
   .request {
      float: left;
      vertical-align: top;
      a, a:visited {
         display: block;
         width: 199px;
         height: 69px;
         background-color: $color4;
         font-family: 'Ubuntu Medium';
         color: $white;
         padding: $padding35 $padding20 0 $padding20;
         text-transform: uppercase;
         @include transitionStandard();
         &:hover {
            background-color: $color2;
         }
      }
   }
}