/*.footer {
   margin: $padding-bigger 0;
   font: $fs-small 'PT Sans';
   letter-spacing: 0;
   color: $light-color1;
   a, a:visited, a:hover {
      font: $fs-small 'PT Sans';
      letter-spacing: 0;
      color: $light-color1;
      span {
         position: relative;
      }
      span:after {
         content: '';
         display: block;
         position: absolute;
         bottom: -1px;
         left: 0px;
         width: 0%;
         height: 1px;
         background-color: $light-color1;
         @include transition-underline();
      }
   }
   a:hover {
      span:after {
         width: 100%;
      }
   }
}*/
footer {
   border-bottom: 5px solid $color2;
   background-color: $color7;
}